# Data Science Tools and Ecosystem

## Author:
Fatime Rshedat

In this notebook, we will introduce tools used in Data Science.

<b>Objectives:</b>
- creating a list of most popular languages for DS
- creating a list for most common libraries for DS
- creating a one column table of DS tools
- creating 2 examples of arithmetic expression in python 
- making an intro for the jupyter notebook assignment

Most common programming languages used in Data Science are:
1. Python 
2. R language 
3. SQL

Most common libraries used in Data Science are:
1. Pandas
2. TenserFlow 
3. Keras

| Data Science Tools |
| -------------------- |
| R studio |
| Apache Spark |
| Tenser Flow |

###  arithmetic expression in python such as:

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hr = 60
time = min/hr
print(time)

3.3333333333333335